@tailwind base;
@tailwind components;
@tailwind utilities;


.disable-transitions * {
  transition: none !important; /*Disable transitions on toggleTheme to prevent flashes*/
}

*, *::before, *::after {
  box-sizing: border-box;
}

img, video {
  max-width: 100%;
  height: auto;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

/* width */
::-webkit-scrollbar {
  width: .5rem;
  height: .5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(65, 68, 77, 1);
}

/*Handle*/
::-webkit-scrollbar-thumb {
  background: #d56a00;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #e07000;
}

/* Handle on click */
::-webkit-scrollbar-thumb:active {
  background: #ba5d00;
}